* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

.hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.additional-text {
  font-size: 1.8rem;
}

.top-hero {
  position: relative;
  height: 20rem;
  z-index: 0;
  background-size: cover;
}

.top-hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 3.6rem;
  text-transform: uppercase;
}

.bg-blue {
  background-color: rgba(61, 120, 255, 0.6);
  -webkit-box-shadow: 0 0 0 0.15rem #3d78ff;
          box-shadow: 0 0 0 0.15rem #3d78ff;
}

.navbar-toggler {
  font-size: 2.5rem;
  padding: 0.5rem 2rem;
}

/*************/
/*****NAV*****/
/*************/
nav .container .navbar-brand p {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

nav .container .navbar-brand p i {
  color: #3d78ff;
}

nav .container .navbar-brand p span {
  color: #3d78ff;
}

nav .container .navbar-nav a {
  font-weight: bold;
  font-size: 1.8rem;
}

/*************/
/****HEADER***/
/*************/
header .carousel-item {
  position: relative;
  height: 400px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

header .item-one {
  background-image: url(../img/amg1.jpg);
}

header .item-two {
  background-image: url(../img/fer1.jpg);
}

header .item-three {
  background-image: url(../img/mustang1.jpg);
}

/************/
/****MAIN****/
/************/
main .home-boxes .container .row .box i {
  font-size: 5rem;
  color: #3d78ff;
}

main .home-boxes .container .row .box hr {
  color: #3d78ff;
  height: 10px;
  border-radius: 50px;
}

main .home-passion {
  position: relative;
  background-image: url("../img/shelby1.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

main .home-brand .container span {
  color: #3d78ff;
}

main .home-brand .jumbotron {
  background-color: #eee;
}

/***********************/
/****ABOUT US**********/
/*********************/
header .aboutus-top {
  background-image: url("../img/aboutus/highway1.jpg");
  background-position: bottom;
}

header .aboutus-top p {
  -webkit-text-decoration: underline #3d78ff;
          text-decoration: underline #3d78ff;
}

main .aboutus-toptext p i {
  color: #3d78ff;
}

main .aboutus-toptext p span {
  color: #3d78ff;
}

main .aboutus-description {
  background-color: rgba(0, 0, 0, 0.03);
}

main .aboutus-description h2 {
  -webkit-text-decoration: underline #3d78ff;
          text-decoration: underline #3d78ff;
  font-weight: bold;
}

main .aboutus-description .aboutus-img {
  height: 300px;
  background-image: url(../img/aboutus/ferrari1.jpg);
  background-position: center;
  background-size: cover;
}

main .aboutus-description .aboutus-text {
  padding: 2em 0;
}

main .aboutus-cards .container .row .col-md-6 .cardd i {
  font-size: 3rem;
}

main .aboutus-cards .container .row .col-md-6 .cardd .textarea p {
  font-size: 1.8rem;
}

main .aboutus-cards .container .row .col-md-6 .cardd .textarea h3 {
  font-size: 2.2rem;
}

main .aboutus-cards .bg-b {
  background-color: #3d78ff;
}

/***********************/
/****SERVICES**********/
/*********************/
main .services-top {
  background-image: url(../img/services/fiat1.jpg);
  background-position: center;
  -webkit-text-decoration: underline #3d78ff;
          text-decoration: underline #3d78ff;
}

main .ourservices .services .accordion .accordion-item .accordion-image {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 250px;
  z-index: 0;
}

main .ourservices .services .accordion .accordion-item .img1 {
  background-image: url("../img/services/bmw1.jpg");
}

main .ourservices .services .accordion .accordion-item .img2 {
  background-image: url("../img/services/ford1.jpg");
}

main .ourservices .services .accordion .accordion-item .img3 {
  background-image: url("../img/services/silnik1.jpg");
}

main .ourservices .services .accordion .accordion-item .img4 {
  background-image: url("../img/services/fiat1.jpg");
}

/***********************/
/****PROJECTS**********/
/*********************/
main .projects-top {
  background-image: url(../img/projects/tesla1.jpg);
  background-position: center;
  -webkit-text-decoration: underline #3d78ff;
          text-decoration: underline #3d78ff;
}

main .cards .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/***********************/
/****CONTACT***********/
/*********************/
main .contact-top {
  background-image: url(../img/contact/shelby1.jpg);
  background-position: center;
  -webkit-text-decoration: underline #3d78ff;
          text-decoration: underline #3d78ff;
}

main .contact-formula h3, main .contact-formula h4 {
  font-weight: bold;
}

main .contact-formula h3 {
  font-size: 2rem;
}

main .contact-formula h4 {
  font-size: 1.6rem;
}

main .contact-formula p {
  font-size: 1.3rem;
}

main .contact-formula .logo i {
  color: #3d78ff;
}

main .contact-formula .logo span {
  color: #3d78ff;
}

@media (min-width: 992px) {
  .aboutus-description {
    padding: 0;
  }
  .aboutus-description .aboutus-img {
    height: auto;
    -webkit-transform: skew(-15deg);
            transform: skew(-15deg);
  }
  .aboutus-shadow {
    -webkit-box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  }
  .aboutus-text {
    -webkit-transform: skew(-15deg);
            transform: skew(-15deg);
    padding: 2em 0;
  }
}

@media (min-width: 1400px) {
  header .carousel-item {
    height: 600px;
  }
  header .item-one {
    background-image: url(../img/amg2.jpg);
  }
  header .item-two {
    background-image: url(../img/fer2.jpg);
  }
  header .item-three {
    background-image: url(../img/mustang2.jpg);
  }
  main .home-passion {
    height: 600px;
    background-image: url("../img/shelby2.jpg");
  }
  main .aboutus-top {
    background-image: url("../img/aboutus/highway2.jpg");
  }
  main .services-top {
    background-image: url(../img/services/fiat2.jpg);
  }
  main .projects-top {
    background-image: url(../img/projects/tesla2.jpg);
  }
  main .contact-top {
    background-image: url(../img/contact/shelby2.jpg);
  }
}
/*# sourceMappingURL=style.css.map */